
/* For Tailwinf CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
}

footer {
  width: 100%;
  position: relative; /* Relative positioning allows the footer to stay at the bottom of the viewport */
}
